body {
    background: rgb(1, 70, 30);
    color: white;
    font-size: 2rem;
    /* display: block;
    align-items: center;
    justify-content: center; */
    font-family: consolas;
    /* margin: 300px; */
    padding: 0;
    /* min-height: 100vh; */
    /* border: 2px solid red; */
    height: 100vh !important;
    padding: 0px;
    margin:0px;
    display: flex;
    flex-direction: column;
}

.conts1{
    /* border: 2px solid blue; */
    flex: 9;
    width: 100%;
    /* padding: 10px; */
}

.conts2{
    /* border: 2px solid green; */
    flex: 1;
    width: 100%;
    /* padding: 10px; */
}

.btn1 {
    display: none;
}

.btn2 {
    display: none;
}
